.login-layout[b-gtqi5mb7lh] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, var(--color-mauve) 0%, var(--color-rose) 100%);
}

.login-container[b-gtqi5mb7lh] {
    width: 100%;
    max-width: 450px;
    padding: 2rem;
}

